[submodule "external/mpegdash"]
	path = external/mpegdash
	url = https://github.com/sangwonl/python-mpegdash
[submodule "external/ratelimit"]
	path = external/ratelimit
	url = https://github.com/tomasbasham/ratelimit
